#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Force GeometryBar and Ticker to stay LTR always */
.always-ltr {
  direction: ltr !important;
  unicode-bidi: isolate !important; /* protects children from RTL mirroring */
}

.always-ltr * {
 direction: ltr !important;
  unicode-bidi: isolate !important; /* protects children from RTL mirroring */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.rtl {
  direction: rtl;
  text-align: right;
}

.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl p {
  text-align: right;
}

.lang-switch {
  position: fixed;
  top: 20px;
  right: 12vw;
  padding: 6px 14px;
  background: #0A1E3F;
  color: rgb(252, 207, 6);
  border: none;
  cursor: pointer;
  z-index: 2000;
  font-size: large;
  font-family: jetbrains-mono, monospace;
}