/* index.css — GLOBAL ONLY */

body {
  margin: 0;
  font-family: jetbrains mono, monospace, 'Droid Arabic Kufi', sans-serif;
  background-color: #f1efd6;
  color: #111;
  line-height: 1.6;
}

.site-wrapper {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0;
}

/* RTL GENERAL */
.rtl {
  direction: rtl;
  text-align: right;
}

.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl p {
  text-align: right;
}

/* Prevent RTL on sticky elements */
.always-ltr {
  direction: ltr !important;
  unicode-bidi: isolate !important;
}
.always-ltr * {
  direction: ltr !important;
  unicode-bidi: isolate !important;
}
