/* Ticker wrapper */
.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #070404;
  font-family: jetbrains-mono, monospace;
}

/* Base ticker */
.ticker {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 0;
  font-weight: bold;
  font-size: 1rem;
}

/* Color bars */
.ticker-blue {
  background: transparent;
  color: #0A1E3F;
}

.ticker-yellow {
  background: #0A1E3F;
  color: #F4C229;
}

/* Moving text */
.ticker-content {
  display: inline-block;
  padding-left: 100%;
}

/* Animations */
@keyframes scroll-left {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

@keyframes scroll-right {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

.move-left {
  animation: scroll-left 18s linear infinite;
}

.move-right {
  animation: scroll-right 18s linear infinite;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .ticker-wrapper,
  .ticker,
  .ticker-content {
    max-width: 100%;
    
    font-size: 12px;
  }
}
