/* Container */
.ticker-wrapper {
   position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #070404;
  font-family: jetbrains-mono, monospace;
}

/* Base ticker style */
.ticker {
     
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 0;
  font-weight: bold;
  font-size: 1rem;
}

/* Color styles */
.ticker-blue {
    /* dark blue */
  color: #0A1E3F;        /* yellow text */
}

.ticker-yellow {
  background: #0A1E3F;   /* yellow background */
  color: #F4C229;        /* dark blue text */
}

/* Moving text container */
.ticker-content {
  display: inline-block;
  padding-left: 100%;    /* start outside the screen */
}

/* Animation: Right → Left */
@keyframes scroll-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.move-left {
  animation: scroll-left 18s linear infinite;
}

/* Animation: Left → Right */
@keyframes scroll-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

.move-right {
  animation: scroll-right 18s linear infinite;
}
